body {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-content: center;
    zoom: 98%;
    height: 900px;
}

.color-default {
    background: #F5F5F5;
}

.color-brown {
    background: #955436;
}

.color-blue {
    background: #AAE0FC;
}

.color-pink {
    background: #D93A95;
}

.color-orange {
    background: #F6941C;
}

.color-red {
    background: #ED1B24;
}

.color-yellow {
    background: #FEF200;
}

.color-green {
    background: #1FB25A;
}

.color-darkblue {
    background: #1982C4;
}

#net {
    width: 1400px;
    height: 930px;
    display: grid;
    grid-template-columns: 450px 930px;
    grid-template-rows: 120px repeat(9, 70px) 120px;
    grid-gap: 20px;
}

#board {
    background-color: #202020;
    width: 930px;
    height: 930px;
    display: grid;
    grid-template-columns: 120px repeat(9, 70px) 120px;
    grid-template-rows: 120px repeat(9, 70px) 120px;
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    grid-column: 2;
}

.tile {
    background-color: #F5F5F5;
    border-radius: 5px;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.central {
    display: grid;
    grid-template-columns: 85px 135px;
    grid-template-rows: 175px 115px 60px;
    grid-column: 2 / 11;
    grid-row: 2 / 11;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.color-streets {
    display: grid;
    grid-gap: 5px;
}

.street-white-top {
    display: flex;
    width: 70px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F5F5F5;
    justify-content: space-between;
    flex-direction: column;
}

.street-white-left {
    display: flex;
    width: 90px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F5F5F5;
    justify-content: space-between;
    grid-row: 1;
}

.street-color-top {
    width: 70px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
}

.street-color-left {
    width: 25px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 5px;
    grid-row: 1;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #202020;
    font-family: "JetBrains Mono", monospace;
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-left {
    transform: rotate(90deg);
}

.text-right {
    transform: rotate(-90deg);
}

.text-street-top-bottom {
    width: 70px;
    height: 40px;
}

.text-cost-top-bottom {
    width: 70px;
    height: 20px;
}

.text-street-left-right {
    width: 40px;
    height: 70px;
}

.text-cost-left-right {
    width: 20px;
    height: 70px;
}

.shopping-mall-vertical{
    width: 70px;
    height: 100px;
}

.shopping-mall-horizontal {
    width: 100px;
    height: 70px;
}

.flex{
    display: flex;
}

.server-msg {
    width: 500px;
    height: 90px;
    flex-shrink: 0;
    color: #202020;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    grid-column: 2;
    grid-row: 2;
}

.button {
    display: flex;
    width: 230px;
    height: 50px;
    border-radius: 10px;
    background: #313131;
    border: 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #F5F5F5;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    grid-column: 3;
}

.button:hover{
    background: #464646;
    color: #e7e7e7;
}
.first-button {
    grid-row: 3;
}

.second-button {
    grid-row: 4;
}

.chat-msg-net {
    display: flex;
    width: 670px;
    height: 500px;
    grid-row: 5;
    overflow: auto;
    flex-direction: column;
}

.chat-msg {
    display: flex;
    width: 645px;
    height: fit-content;
    border-radius: 16px;
    background: #D9D9D9;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-msg-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    padding-left: 15px;
    align-self: center;
}

.chat-msg-time {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #696969;
    line-height: normal;
    padding-right: 10px;
    align-self: center;
}
