body {
    background-color: #F5F5F5;
    display: flex;
    zoom: 98%;
    height: 900px;
}

/*    COLORS    */

.color-default {
    background: #F5F5F5;
}

.color-brown {
    background: #955436;
}

.color-blue {
    background: #AAE0FC;
}

.color-pink {
    background: #D93A95;
}

.color-orange {
    background: #F6941C;
}

.color-red {
    background: #ED1B24;
}

.color-yellow {
    background: #FEF200;
}

.color-green {
    background: #1FB25A;
}

.color-darkblue {
    background: #1982C4;
}


/*    MAP    */


#net {
    width: 1400px;
    height: 930px;
    display: grid;
    grid-template-columns: 450px 930px;
    grid-template-rows: 300px;
    grid-gap: 30px;
}

#root {
    background-color: #202020;
    width: 930px;
    height: 930px;
    display: grid;
    grid-template-columns: 120px repeat(9, 70px) 120px;
    grid-template-rows: 120px repeat(9, 70px) 120px;
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    grid-column: 2;
}

.tile {         /*    BASE TILE    */
    background-color: #F5F5F5;
    border-radius: 5px;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.central {          /*    CENTRAL PART    */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2 / 11;
    grid-row: 2 / 11;
    background-color: #F5F5F5;
    border-radius: 5px;
}

.color-streets {
    display: grid;
    grid-gap: 5px;
}

.shopping-mall-vertical{
    width: 70px;
    height: 100px;
}

.shopping-mall-horizontal {
    width: 100px;
    height: 70px;
}

.flex{
    display: flex;
}

/*    WHITE PART OF TILE    */

.street-white-vertical {
    display: flex;
    width: 70px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F5F5F5;
    justify-content: space-between;
    flex-direction: column;
}

.street-white-horizontal {
    display: flex;
    width: 90px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F5F5F5;
    justify-content: space-between;
    grid-row: 1;
}

/*    COLOR PART OF TILE    */

.street-color-vertical {
    width: 70px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
}

.street-color-horizontal {
    width: 25px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 5px;
    grid-row: 1;
}

/*    TEXT    */

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #202020;
    font-family: "JetBrains Mono", monospace;
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-left {
    transform: rotate(90deg);
}

.text-right {
    transform: rotate(-90deg);
}

.text-street-vertical {
    width: 70px;
    height: 40px;
}

.text-cost-vertical {
    width: 70px;
    height: 20px;
}

.text-street-horizontal {
    width: 40px;
    height: 70px;
}

.text-cost-horizontal {
    width: 20px;
    height: 70px;
}


/*    SERVER MSG    */


.server-msg {
    width: 500px;
    height: fit-content;
    flex-shrink: 0;
    color: #202020;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 13px;
    margin: 20px;
}

.button {
    display: flex;
    width: 230px;
    height: fit-content;
    border-radius: 10px;
    background: #313131;
    border: 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #F5F5F5;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 13px;
    margin: 10px;
}

.button:hover{
    background: #464646;
    color: #e7e7e7;
}


/*    CHAT    */


#chat-msg-net {
    display: flex;
    width: 470px;
    height: 600px;
    overflow: auto;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
}

#chat-msg-net::-webkit-scrollbar {
  width: 0;
}

.chat-msg {
    display: flex;
    width: 470px;
    height: fit-content;
    border-radius: 16px;
    background: #D9D9D9;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-msg-text {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    padding-left: 15px;
    align-self: center;
}

.chat-msg-time {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: 14px;
    color: #696969;
    line-height: normal;
    padding-right: 10px;
    align-self: center;
}

/*    PLAYERS    */

#players-flex {
    display: flex;
    width: 470px;
    flex-direction: column;
}

.red-player {
    background: #FF595E;
}

.blue-player {
    background: #1982C4;
}

.green-player {
    background: #8AC926;
}

.yellow-player {
    background: #FFCA3A;
}

.player-place {
    display: flex;
    padding: 10px;
}

.stick {
    width: 470px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #313131;
}

.color-circle{
    display: flex;
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 35px;
    outline: 5px solid #000;
    outline-offset:-5px;
    justify-content: space-evenly;
    align-items: center;
}

.player-text {
    display: flex;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    padding-left: 15px;
    align-items: center;
}

.player-nickname {
    width: 300px;
    height: 55px;
}

.player-money {
    width: 300px;
    height: 55px;
    justify-content: right;
}